[Unit]
Description=Modbus RTU to TCP Gateway (%i)
Requires=dev-%i.device
After=dev-%i.device
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/rpi-modbus-gateway/%i.env
ExecStart=/usr/bin/mbusd -P ${TCP_PORT} -p /dev/%i -s ${BAUDRATE} -m ${MODE} -v ${VERBOSITY} -R ${SLAVE_TIMEOUT_MS} -W ${RESPONSE_TIMEOUT_MS}
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
